.nav-bar {
    width: 100%;
    padding: 16px 5px; 
    background: #17364f;
    border-bottom: 1px solid #0d1a2f;
    backdrop-filter: red(15px);
    margin-bottom: 0;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}  


.logo {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    color: #09d8c7;
    letter-spacing: 1px;
    margin: auto;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: auto;
}

.nav-list .nav-links .nav-link{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-list .nav-links .nav-link:hover {
    color: #09d8c7;
    text-shadow: 0 0 10px #09d8c7;
}

.btns {
    display: flex;
}

.btn_login {
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 0 0 15px #09d8c7;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn_login:hover {
    background-color: #09d8c7;
    color: #17364f;
    box-shadow: 0 0 20px #09d8c7;
} 