.nav-bar {
    width: 100%;
    padding: 16px 5px; 
    background: #000000;
    border-bottom: 1px solid #19002e;
    backdrop-filter: red(15px);
    margin-bottom: 0;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;

}  


.logo {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    color: #ffe600;
    letter-spacing: 1px;
    margin: auto;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: auto;
}

.nav-list .nav-links .nav-link{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-list .nav-links .nav-link:hover {
    color: #ffe600;
    text-shadow: 0 0 10px #ffed4a;
}

.nav-list .nav-links .nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0px;
    background-color: #ffe600;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-list .nav-links .nav-link:hover::after {
    transform: scaleX(1);
}

.btns {
    display: flex;
}

.btn_login {
    padding: 0.5rem 1.5rem;
    font: #fff;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 0 0 15px #ffe600;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn_login:hover {
    background-color: #ffe600;
    color: #000000;
    box-shadow: 0 0 20px #ffe600;
} 