/* .section {
    margin-bottom: 15px;
} */

.Produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #333;
    margin-top: 20px #333;
}

.card-produto {
    width: 300px;
    background:linear-gradient(to bottom, #d8c309, #ffe600);
    margin: 0.7rem 0.7rem 0.7rem 0.7rem;
    display: flex;
    flex-direction: column;

}

.card-produto:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  transform: translateY(-5px) scale(1.02);
  transition: all 0.3s ease;
}

.card-produto {
    border-radius: 15px;
    border: 0px solid #ffffff;
    padding: 16px;
}

.card-produto img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.cart{
    display: flex;
    background-color: rgb(223, 218, 218);
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}


.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}



.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

.sidebar {
    margin-top: 50px;
    display: none;
}

.sidebar{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 55vh;
    background: linear-gradient(to bottom, #d8c309, #ffe600);
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1000;
}

button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: goldenrod;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: #333;
}


.fa-trash:hover{
    cursor: pointer;
    color: #333;
}


.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}
.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.fa-trash:hover{
    cursor: pointer;
    color: #333;
}

.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

h2{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: goldenrod;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: #333;
}

#listaCarrinho {
  display: none;
}

#listaCarrinho.ativo {
  display: block;
}


.cart  {
    display: none;
}

.cart.ativo {
  display: block;
}

img {
    display: block;
    margin: auto;
    width: 50%;
}

/* #btns_login {
    display: block;
}

#btns_login.ativo {
  display: none;
} */